<div class="challengeShow">
  <div class="row">
    <div class="col-md-6">
      <div id="userChallengeMap" style="width:600px;height:600px;"></div>
      <div id="distance"></div>
    </div>
    <div class="col-md-6">
      <p id="loc-lat" data-lat='<%=@location.latitude %>'><%= @location.latitude %></p>
      <p id="loc-lng" data-lng='<%=@location.longtitude %>'><%= @location.latitude %></p>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id='winChallengeModal'>
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div><%= cl_image_tag(@challenge.image_url, :crop => :fill, :width => 50, :height => 50) %></div>
      <%= link_to 'Continue', root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
