<div class="challengeShow">
  <div class="row">
    <div class="col-md-6">
      <div id="userChallengeMap" style="width:600px;height:600px;"></div>
      <div id="distance"></div>
    </div>
    <div class="col-md-6" style="text-align:right">
      <div class="locations-name" data-lat="<%= @location.latitude %>" data-lng="<%= @location.longtitude %>">
        <p style="font-weight:bold;" class="loc-name lead"></h3>
      </div>
      You have to go at
      <p id="loc-lat" data-lat='<%=@location.latitude %>' >latitude:<%= @location.latitude %></p>
      <p id="loc-lng" data-lng='<%=@location.longtitude %>' >longtitude:<%= @location.longtitude %></p>
      to make this challenge
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id='winChallengeModal'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">YOU WON!</h4>
      </div>
      <div class="modal-body center">
        <div><%= cl_image_tag(@challenge.image_url, :crop => :fill, :width => 480, :height => 480) %></div>
      </div>
      <div class="modal-footer">
        <%= link_to 'Continue', users_path, class: 'btn btn-primary' %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
